{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}AL4AI{% endblock %}</title>
    
    <!-- Bootstrap -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet"/>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    
    {% block head %}{% endblock %}
</head>
<body>
    <form id="form" method="post" action="{% block submit %}{% url 'submit' %}{% endblock %}">
        {% csrf_token %}
        {% block body %}
        {% endblock %}
    </form>
</body>
</html>