{% extends "pages/base.html" %}
{% load static %}

{% block title %}
    {{ context.project }} - AL4AI
{% endblock %}

{% block head %}
    <!-- Project Stylesheet -->
    <link href="{% static 'css/project.css' %}" rel="stylesheet"/>
    
    <!-- Auto Submit Forms -->
    <script src="{% static 'js/auto_submit.js' %}"></script>
{% endblock %}

{% block body %}
    <input type="hidden" name="project-name" value="{{ context.project }}">
    <button id="auto-submit" type="submit" class="invisible" hidden
    name="redirect" value="{% url "project" context.project context.page %}"></button>
    
    <!-- Header Bar -->
    {% include "pages/page_parts/header.html" %}

    <div class="d-flex align-content-stretch">
        <!-- Side Bar -->
        <div>
            {% include "pages/page_parts/sidebar.html" %}
        </div>
        <!-- Page Content -->
        <div class="p-2 w-100">
            <div id="content" class="bg-body-tertiary p-3 rounded-2">
                {% block content %}
                    <h3>{{ context.page }}</h3>
                    <br/>
                    {% for component in context.components %}
                        {% if component.enabled %}
                            {% include component.template %}
                        {% endif %}
                    {% endfor %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
