#header {
    height: 64px;
}

#content {
    height: calc(100vh - 64px - 32px);
    margin: 8px;
    padding: 16px;
    overflow: auto;
}

#labelling {
    height: calc(150px - 8px);
    max-height: calc(150px - 8px);
    margin: 8px;
    padding: 16px;
    overflow: hidden;
}

.header-align {
    min-width: 25%;
}

#image-classification-image {
    height: calc(100vh - 64px - 150px);
    min-height: 64px;
}

#image-classification-labels {
    height: 150px;
}
