#header {
    height: 56px;
}

#sidebar {
    width: 150px;
    height: calc(100vh - 56px);
}

#content {
    height: calc(100vh - 56px - 32px);
    margin: 8px;
    padding: 16px;
    overflow: auto;
}

.header-align {
    min-width: 25%;
}

.project-dialogue-form {
    width: 400px;
}

.info-box {
    max-height: 150px;
    overflow: auto;
}
