{% extends "pages/base.html" %}
{% load static %}


{% block title %}
    AL4AI
{% endblock %}

{% block head %}
    <!-- Project Stylesheet -->
    <link href="{% static 'css/project.css' %}" rel="stylesheet"/>
{% endblock %}

{% block body %}
    <button type="submit" class="invisible" hidden name="create"></button>
    
    <!-- Header Bar -->
    {% include "pages/page_parts/header.html" %}

    <div id="content" class="bg-body-tertiary p-5 m-2 rounded-2">
        <div class="bg-body-secondary p-3 rounded-2 mx-auto project-dialogue-form">
            
            <h4 class="text-center">Create New Project</h4>
            <br/>
            <div class="w-100">
                <label class="w-100">
                    Project Name
                    <input type="text" class="form-control w-100" name="project-name" autofocus maxlength="35">
                </label>
                <button type="submit" name="action" value="create" class="btn btn-primary mt-3 mb-2 w-100">
                    Create Project
                </button>
            </div>
        </div>
    </div>
{% endblock %}
