{% extends "pages/base.html" %}
{% load static %}


{% block title %}
    AL4AI
{% endblock %}

{% block head %}
    <!-- Project Stylesheet -->
    <link href="{% static 'css/project.css' %}" rel="stylesheet"/>
{% endblock %}


{% block body %}
    <input type="hidden" name="project-name" value="{{ context.project }}">
    
    <!-- Header Bar -->
    {% include "pages/page_parts/header.html" %}

    <div id="content" class="bg-body-tertiary p-5 m-2 rounded-2">
        <div class="bg-body-secondary p-3 rounded-2 mx-auto project-dialogue-form">
            
            <h4 class="text-center">Confirm Project Deletion</h4>
            <br/>
            <div class="w-100">
                <button type="submit" name="action" value="delete" class="btn btn-danger mt-3 mb-2 w-100">
                    Delete "{{ context.project }}"
                </button>
                <button type="submit" name="redirect" value="{% url 'project' context.project 'Overview' %}"
                        class="btn btn-secondary mb-2 w-100">
                    Cancel
                </button>
            </div>

            <br/>
            <p>
                Your project can not be recovered once deleted.
            </p>
            
            
        </div>
    </div>
{% endblock %}
