{% extends "pages/base.html" %}
{% load static %}


{% block title %}
    AL4AI
{% endblock %}

{% block head %}
    <!-- Project Stylesheet -->
    <link href="{% static 'css/project.css' %}" rel="stylesheet"/>
    
    <!-- Automatically Download Dataset -->
    <script src="{% static 'js/auto_download.js' %}"></script>
{% endblock %}


{% block body %}
    <input type="hidden" name="project-name" value="{{ context.project }}">
    
    <!-- Header Bar -->
    {% include "pages/page_parts/header.html" %}

    <div id="content" class="bg-body-tertiary p-5 m-2 rounded-2">
        <div class="bg-body-secondary p-3 rounded-2 mx-auto project-dialogue-form">
            
            <h4 class="text-center">Generating Dataset</h4>
            <br/>
            <div class="d-flex flex-column align-content-center justify-content-center h-100 w-100">
                <div class="align-self-center">
                    <div class="spinner-border" style="width: 6rem; height: 6rem;" role="status"></div>
                </div>
            </div>
            <br/>
            <p id="info">
                Please wait. Your dataset will automatically download once ready.
            </p>
            <br/>
            <div class="w-100">
                <button id="done" type="submit" name="redirect" value="{% url 'project' context.project 'Overview' %}"
                        class="btn btn-secondary mb-2 w-100">
                    Cancel
                </button>
            </div>
            
            
        </div>
    </div>
{% endblock %}
