{% extends "pages/base.html" %}

{% block title %}
    AL4AI Login
{% endblock %}


{% block body %}
    <div class="d-flex align-items-center justify-content-around">
        <div>
            {% csrf_token %}
        
            <h4 class="text-center mb-4 mt-4">AL4AI</h4>
            
            <div class="form-group m-2">
                <label>
                    Email address
                    <input type="email" class="form-control" name="login-email" aria-describedby="emailHelp"/>
                </label>
            </div>
            
            <div class="form-group m-2">
                <label>
                    Password
                    <input type="password" class="form-control" name="login-password"/>
                </label>
            </div>
            
            <button type="submit" name="action" value="login" class="btn btn-primary mt-3 mb-2 w-100">
                Login
            </button>
        </div>
    </div>
    <div>
        <a class="nav-link text-start mt-auto text-secondary text-center" target="_blank"
           rel="noopener noreferrer" href="{{ context.source_code }}">
            Contribute
        </a>
    </div>
{% endblock %}