{% extends "pages/base.html" %}

{% block title %}
    AL4AI Login
{% endblock %}


{% block body %}
    <div class="d-flex align-items-center justify-content-center">
        <div>
            {% csrf_token %}
        
            <h4 class="text-center mb-4 mt-4">Create Account</h4>
            
            <div class="form-group m-2">
                <label>
                    Email address
                    <input type="email" class="form-control" name="signup-email" aria-describedby="emailHelp"/>
                </label>
            </div>
            
            <div class="form-group m-2">
                <label>
                    Password
                    <input type="password" class="form-control" name="signup-password"/>
                </label>
            </div>
            
            <button type="submit" name="action" value="signup" class="btn btn-primary mt-3 mb-2 w-100">
                Sign Up
            </button>
            
            <p class="text-center">
                Or login <a href="{% url "login" %}">here</a>
            </p>
        </div>
    </div>
{% endblock %}