{% extends "pages/labelling_pages/labelling_base.html" %}
{% load static %}

{% block title %}
    AL4AI - Labelling Images
{% endblock %}

{% block content %}
    <div class="d-flex flex-column align-content-center justify-content-between h-100 w-100">
        <div id="image-classification-image" class="align-self-center">
            <img src="{{ context.datum.url }}" height="100%"/>
            <br/>
        </div>
        <div id="image-classification-labels" class="align-self-center p-3">
            <br/>
            {% for option in context.datum.options %}
{#                <button type="submit" name="result" class="btn btn-success btn-lg" value="{{ option }}">#}
{#                    {{ option }}#}
{#                </button>#}
                <label class="mb-1 mx-1 p-2 rounded-2 bg-body-secondary">
                    <input type="radio" name="result" value="{{ option }}" class="auto-submit"/>
                    {{ option }}
                </label>
            {% endfor %}
        </div>
    </div>
{% endblock %}
