{% extends "pages/base.html" %}
{% load static %}

{% block title %}
    AL4AI
{% endblock %}

{% block head %}
    <!-- Labelling Stylesheet -->
    <link href="{% static 'css/labelling.css' %}" rel="stylesheet"/>
    
    <!-- Auto Refresh -->
    <script src="{% static 'js/oracle_auto_refresh.js' %}"></script>
{% endblock %}

{% block body %}
    <nav id="header" class="navbar bg-dark sticky-top" data-bs-theme="dark">
        <div class="container-fluid">
            <!-- Title -->
            <div class="header-align">
                {% if context.valid %}
                    <span class="navbar-brand">{{ context.project }} - {{ context.oracle_name }}</span>
                {% endif %}
            </div>
        </div>
    </nav>
    
    <div class="d-flex align-content-stretch">
        <!-- Page Content -->
        <div class="w-100">
            <div class="p-2">
                <div id="content" class="m-2 bg-body-tertiary p-3 rounded-2">
                    <div class="d-flex flex-column align-content-center justify-content-center h-100 w-100">
                        <div class="align-self-center">
                            {% if context.project_running %}
                                <div class="spinner-border" style="width: 15rem; height: 15rem;" role="status"></div>
                            {% endif %}
                        </div>
                        <div class="p-5 align-self-center text-center">
                            <br/>
                            {% if not context.valid %}
                                <p>Error: The link you have been provided is invalid.</p>
                            {% elif not context.project_running %}
                                <p>The project organiser has paused the project.</p>
                                <a class="btn btn-primary" href="javascript:location.reload();" role="button">
                                    Click to Refresh Page
                                </a>
                            {% else %}
                                <p>Please wait...</p>
                                <p>Loading more data.</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
{% endblock %}

