{% extends "pages/base.html" %}
{% load static %}

{% block head %}
    <!-- Labelling Stylesheet -->
    <link href="{% static 'css/labelling.css' %}" rel="stylesheet"/>
    
    <!-- Auto Submit -->
    <script src="{% static 'js/oracle_auto_submit.js' %}"></script>
{% endblock %}

{% block body %}
    <!-- Header Bar -->
    {% include "pages/page_parts/labelling_header.html" %}
    
    <input type="hidden" name="oracle" value="{{ context.oracle }}">
    <input type="hidden" name="datum" value="{{ context.datum.url }}">
    <input type="hidden" name="action" value="label">
    
    <div class="d-flex align-content-stretch">
        <!-- Page Content -->
        <div class="w-100">
            <div class="p-2">
                <div id="content" class="m-2 bg-body-tertiary p-3 rounded-2">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
    
    {% if context.instructions %}
        <!-- Instructions -->
        <div class="offcanvas offcanvas-end" tabindex="-1" id="instructions" aria-labelledby="offcanvasExampleLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasExampleLabel">Labelling Instructions</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <p>
                    {{ context.instructions }}
                </p>
            </div>
        </div>
    {% endif %}
{% endblock %}
