<nav id="header" class="navbar bg-dark sticky-top" data-bs-theme="dark">
    <div class="container-fluid">
        <!-- Title -->
        <div class="header-align">
            <span class="navbar-brand">AL4AI</span>
        </div>

        <!-- Project Dropdown -->
        <div>
            <div class="form-control dropdown">
                {% if not context.project %}
                    <button type="submit" name="redirect" class="nav-link dropdown-toggle link-secondary"
                            data-bs-toggle="dropdown" value="{% url 'home' %}">
                        Create New Project
                    </button>
                {% else %}
                    <button type="submit" name="redirect" class="nav-link dropdown-toggle"
                            data-bs-toggle="dropdown" value="{% url 'home' %}">
                        {{ context.project }}
                    </button>
                {% endif %}
            
                <ul class="dropdown-menu">
                    {% for project in context.header.project_list %}
                    <li>
                        <button type="submit" name="redirect" class="dropdown-item"
                                value="{% url 'project' project '_' %}">
                            {{ project }}
                        </button>
                    </li>
                    {% endfor %}
                    <li>
                        <button type="submit" name="redirect" class="dropdown-item link-secondary"
                                value="{% url 'create' %}">
                            Create New Project
                        </button>
                    </li>
                </ul>
            </div>
        </div>

        <!-- Run Button -->
        <div class="header-align">
            {% if context.header.show_run_button %}
                {% if context.header.running %}
                    <button type="submit" name="action" class="btn btn-outline-danger float-end" value="stop">
                        Pause Active Learning
                    </button>
                {% else %}
                    <button type="submit" name="action" class="btn btn-outline-success float-end" value="start">
                        Start Active Learning
                    </button>
                {% endif %}
            {% endif %}
        </div>
    </div>
</nav>
