<nav id="header" class="navbar bg-dark sticky-top" data-bs-theme="dark">
    <div class="container-fluid">
        <!-- Title -->
        <div class="header-align">
            <span class="navbar-brand">{{ context.project }} - {{ context.oracle_name }}</span>
        </div>

        {% if context.instructions %}
            <!-- Instructions Button -->
            <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#instructions" aria-controls="instructions">
                Show Instructions
            </button>
        {% endif %}
        
        <div class="header-align">
            <!-- Auto Submit Checkbox -->
            <label class="mb-1 mx-1 p-2 text-light" title="Automatically submit when you finish labelling instead
            of needing to click the submit button.">
                Enable Auto Submit
                <input type="checkbox" id="enable-auto-submit" name="auto-submit"
                       class="m-2" {% if context.auto_submit %}checked{% endif %}/>
            </label>
            <!-- Submit Button -->
            <button id="submit-button" type="submit" class="btn btn-success btn-lg float-end">
                Submit
            </button>
        </div>
    </div>
</nav>
