<div id="sidebar" class="bg-dark" data-bs-theme="dark">
    <div class="col-4 align-items-stretch w-100 d-flex flex-column h-100 justify-content-between overflow-hidden">
        <nav class="nav nav-pills flex-column">
            {% for name in context.sidebar.pages %}
                {% if name == context.page %}
                    {% if name in context.sidebar.errors %}
                        <span class="nav-link active text-decoration-underline">{{ name }}</span>
                    {% else %}
                        <span class="nav-link active">{{ name }}</span>
                    {% endif %}
                {% else %}
                    {% if name in context.sidebar.errors %}
                        <button type="submit" name="redirect" class="nav-link text-start text-decoration-underline"
                                value="{% url 'project' context.project name %}">
                            {{ name }}
                        </button>
                    {% else %}
                        <button type="submit" name="redirect" class="nav-link text-start"
                                value="{% url 'project' context.project name %}">
                            {{ name }}
                        </button>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </nav>
    
        <nav class="nav nav-pills flex-column">
            {% if context.sidebar.show_admin %}
                <button type="submit" name="redirect" value="/admin/" class="nav-link text-start text-secondary mt-auto">
                    Admin Console
                </button>
            {% endif %}
        
            <button type="submit" name="action" value="logout" class="nav-link text-start text-secondary mt-auto">
                Log Out
            </button>

            <a class="nav-link text-start mt-auto text-secondary" target="_blank"
               rel="noopener noreferrer" href="{{ context.sidebar.source_code }}">
                Source Code
            </a>
        </nav>
    </div>
</div>
