<div class="row mb-4 mx-1 p-3 rounded-2 bg-body-secondary 
            {% if 'value' in component and not component.value %}border border-primary{% endif %}
            {% if component.auto_refresh %}auto-refresh{% endif %}">
    {% block component %}
        <label class="col">
            <strong class="d-inline-block mb-3">
                {% block label %}
                    {{ component.title }}
                {% endblock %}
            </strong>
            {% block input %}{% endblock %}
        </label>
        <div class="col d-flex flex-column justify-content-center border-start border-secondary-subtle rounded-2 ms-4">

            {% block description %}
                {% if component.description %}
                    <div class="text-body-emphasis">
                        {{ component.description | safe }}

                        {% if component.extended_description %}
                            <div class="collapse m-{{ component.name }}" id="more-{{ component.name }}">
                                <br/>
                                {{ component.extended_description | safe }}
                                <br/>
                                <a  type="button" data-bs-toggle="collapse"
                                   href=".m-{{ component.name }}" aria-expanded="true"
                                   aria-controls="more-{{ component.name }}">
                                    Less...
                                </a>
                            </div>
                            <div class="m-{{ component.name }} collapse show">
                                <a  type="button" data-bs-toggle="collapse"
                                   href=".m-{{ component.name }}" aria-expanded="false"
                                   aria-controls="more-{{ component.name }}">
                                    More...
                                </a>
                            </div>
                        {% endif %}
                    </div>
                {% endif %}

                {% if component.item_description %}
                    <b class="mt-3">{{ component.value }}:</b>
                    <span class="bg-info-subtle p-3 rounded-2 info-box">
                        {{ component.item_description | safe }}
                        {% if component.item_urls %}
                            <hr/>
                            <b class="float-end">Further reading:</b>
                        {% endif %}
                        {% for url_name, url_path in component.item_urls.items %}
                            <br/>
                            <a href="{{ url_path }}" target="_blank" rel="noopener noreferrer"
                               class="float-end link-info">{{ url_name }}</a>
                        {% endfor %}
                    </span>
                {% endif %}
            {% endblock %}
        </div>
    {% endblock %}
</div>