{% extends "components/_base_component.html" %}

{% block component %}
    <div class="d-flex flex-row justify-content-center">
        {% for button in component.buttons %}
            {% if context.header.show_run_button or not button.require_run_button %}
                {% if button.danger %}
                    <button type="submit" class="btn btn-danger mt-3 mb-2 mx-3" name="project-{{ component.name }}"
                            value="{{ button.redirect }}">
                        {{ button.title }}
                    </button>
                {% else %}
                    <button type="submit" class="btn btn-secondary mt-3 mb-2 mx-3" name="project-{{ component.name }}"
                            value="{{ button.redirect }}">
                        {{ button.title }}
                    </button>
            {% endif %}
            {% endif %}

        {% endfor %}
    </div>
{% endblock %}
