{% extends "components/_base_component.html" %}

{% block input %}
    <select class="form-control" name="project-{{ component.name }}">
        {% if not component.value %}
            <option disabled selected value=""> -- select an option -- </option>
        {% endif %}
        {% for option in component.options %}
            {% if option == component.value %}
                <option selected>{{ option }}</option>
            {% else %}
                <option>{{ option }}</option>
            {% endif %}
        {% endfor %}
    </select>
{% endblock %}
