{% extends "components/_base_component.html" %}

{% block component %}
    <strong class="d-inline-block mb-3">
        Results
    </strong>
    <p>
        {% if "labelled_percentage" in component.stats %}
            <b>Dataset Labelled:</b>
            {{ component.stats.labelled_count }} / {{ component.stats.dataset_size }}
            ({{ component.stats.labelled_percentage }}%)
        {% else %}
            {% if not context.header.running %}
                Results will be generated when you run Active Learning.
            {% else %}
                No results yet...
            {% endif %}
        {% endif %}

        {% if component.chart_x %}
            <div>
                <canvas id="results-chart" height="100"></canvas>
            </div>
        {% endif %}
    </p>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>
        const ctx = document.getElementById('results-chart');

        new Chart(ctx, {
            type: 'line',
            {#data: {#}
            {#    labels: {{ component.chart_x }},#}
            {#    datasets: [{#}
            {#        label: 'Test Dataset',#}
            {#        data: {{ component.chart_y }},#}
            {#        borderWidth: 1,#}
            {#    }]#}
            {# }, #}
            data: {
                labels: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59],
                datasets: [{
                    label: 'Active Learning',
                    data: [0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.68, 0.5, 0.7975, 0.8475, 0.8425, 0.8375, 0.7475, 0.75, 0.855, 0.8125, 0.8325, 0.83, 0.8425, 0.805, 0.83, 0.84, 0.8725, 0.8675, 0.775, 0.79, 0.9175, 0.91, 0.9175, 0.8325, 0.83, 0.9125, 0.8525, 0.84, 0.8225, 0.9175, 0.915, 0.9075, 0.845, 0.8275, 0.9475, 0.82, 0.8275, 0.8325, 0.825, 0.8375, 0.825, 0.955, 0.9425, 0.9725, 0.975, 0.9775, 0.95, 0.9775, 0.965, 0.9625, 0.975, 0.975],
                    borderWidth: 1,
                }, {
                    label: 'Random',
                    data: [0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.7225, 0.7025, 0.4, 0.7125, 0.68, 0.705, 0.685, 0.67, 0.695, 0.65, 0.7125, 0.655, 0.8525, 0.77, 0.7375, 0.755, 0.87, 0.7575, 0.8975, 0.8975, 0.9075, 0.915, 0.92, 0.9125, 0.8975, 0.905, 0.9025, 0.9075, 0.905, 0.9075, 0.9025, 0.915, 0.905, 0.905, 0.8975, 0.9675, 0.955, 0.9625, 0.9675, 0.9675, 0.95, 0.95, 0.975, 0.9725, 0.9575, 0.95, 0.9525, 0.9375, 0.97, 0.9725],
                    borderWidth: 1,
                },]
            },
            options: {
                scales: {
                    y: {
                        min: 0,
                        max: 1,
                        title: {
                            display: true,
                            text: 'Accuracy'
                        }
                    },
                    x: {
                        title: {
                            display: true,
                            text: 'Data Labelled'
                        }
                    }
                }
            }
        });
    </script>
{% endblock %}
