{% extends "components/_base_component.html" %}

{% block component %}
    <strong class="d-inline-block mb-3">
        Oracle URL
    </strong>
    <ul>
        {% for name, url in component.oracles.items %}
            <li>
                <b>
                    {{ name }}:
                </b>
                <a target="_blank" rel="noopener noreferrer" href="{{ url }}">
                    {{ url }}
                </a>
            </li>
        {% endfor %}
    </ul>
    
    <p>
        Give this link to the person you want to label your dataset.
        The link will remain valid if you pause the project and later resume.
        Your oracle will not be able to label data while the project is paused.
    </p>
{% endblock %}
