{% extends "components/_base_component.html" %}

{% block component %}
    <strong class="d-inline-block mb-3">
        Project Details
    </strong>
    <ul>
        {% for key, value in component.stats.items %}
            {% if value %}
                <li>
                    <b>{{ key }}:</b> {{ value }}
                </li>
            {% endif %}
        {% endfor %}
    </ul>
{% endblock %}
